@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page{
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid;
    height:1360px;
    font-family:Barlow;
}

.topbar{
    position: relative;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 25px;
}

.barea{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left{
    width: 40%;
}

.bgcolor{
    background-color: rgba(0, 132, 255, 0.075);
    width: 50%;
    height: 95%;
    margin-top:-10%;
    padding-top:23%;
}

img{
    position: relative;
    margin-left: 39%;
    z-index: 5;
}

.right{
    width:60%;
    padding-right:6%;
}

.top{
    margin-top: 15%;
}

h1{
    margin: 0%;
    padding: 0%;
    font-weight: bolder;
    font-size:5em;
}

h2{
    margin: 0%;
    padding: 0%;
    font-size:2em;
}

h3{
    margin: 0%;
    margin-top: 2%;
    padding: 0%;
    font-weight: medium;
    font-size:1em;
}

.pinfo{
    margin-top: 5%;
}

.pinfo p{
    margin: 0;
    margin-top: 2.5%;
    padding: 0;
}

.pinfo hr{
    border:blue 2px solid;
    margin-top:10%;
}

.fas{
    color:blue;
}

.blueline{
    display: flex;
    height: 60%;
    position: relative;
    left: 49%;
    top: -1.5%;
    z-index: 3;
}

.blueline hr{
    border: blue 2px solid;
}

.heading{
    margin: 0%;
    margin-top: -624px;
    padding: 0%;
    text-align: center;
}

.heading h2{
    font-size:1.2em;
    font-style: italic;
}

.we{
    margin-top: 74%;
}

.about p{
    margin-top:10%;
}

.connecters{
    margin-left: 100%;
    margin-top: -10%;
    width: 90%;
}

.connecters img{
    position: relative;  
    width: 105%;
    padding: 0%;
    margin: 0%;
    left: -7%;
}

div.connecters:nth-child(4) {
    margin-top: -26%;
  }

h2.e {
    margin-top: 132%;
  }

h2.s {
    margin-top: 97%;
  }
  
.work{
    margin-top:10%;
}

.work p{
    margin-top:1%;
    padding-left: 2%;
}

.education{
    margin-top:10%;
}

.education p{
    margin-top:1%;
    padding-left: 2%;
}

.skills{
    margin-top:10%;
}

.skills p{
    margin-top:1%;
    padding-left: 2%;
}


.skills hr{
    border:blue 2px solid;
    margin-top:6%;
}

.bottombar{
    position: relative;
    top: -5%;
    left: 5%;
    width: 90%;
    height: 25px;
}

.pinfo > p:nth-child(2) > a:nth-child(2) {
    color:black ;
    text-decoration: none;
    margin-left: 3px;
  }

  .pinfo > p:nth-child(3) > a:nth-child(2) {
    color:black ;
    text-decoration: none;
    margin-left: 8px;
  }

  .pinfo > p:nth-child(1) > a:nth-child(2) {
    color:black ;
    text-decoration: none;
    margin-left: 10px;
  }

  .pinfo > p:nth-child(2) > a:nth-child(2):hover {
    color:blue ;   
  }

  .pinfo > p:nth-child(3) > a:nth-child(2):hover {
    color:blue ;
  }

  .pinfo > p:nth-child(1) > a:nth-child(2):hover {
    color:blue ;
  }

  .container {
    width: 83%;
    background-color: #ddd;
    margin-top: -2%;
    margin-left: 2%;
  }
  
  .skulls {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

  .graphics {
      width: 90%; 
      background-color: #2196F3;
    }

    .web {
        width: 80%; 
        background-color: tomato;
      }

      .thanks{
          margin-top:4%;
      }
  